<!DOCTYPE html>
<html>

<head>
    <title>Novapets</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="stylesheets/novapets.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <!-- Angular first, then AngularUI Router -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <!-- FontAwesome -->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">-->

    <!-- My JavaScript -->
    <script src="javascripts/novapets.js"></script>
    <script type="text/javascript" src="javascripts/register2.js"></script>
</head>

<body ng-app='tamagotchi' ng-controller='registerCtrl'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Novapets</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Pet<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Leaderboards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <!-- blank space -->
            <div class="col"></div>
            <!-- main center div -->
            <div id="main-content" class="col-12">


                <div class="row">
                    <!-- Pet Info Sidebar -->
                    <div class="col">
                        <!-- center panel -->
                        <div class="col-md-8">
                            <h2>Register</h2>
                            <form ng-submit="register()">
                                <div class="input">
                                    <label for="username">Enter a username:</label>
                                    <input type="text" ng-model="newUser">
                                </div>
                                <div class="input">
                                    <label for="petName">Enter your pet name:</label>
                                    <input type="text"ng-model="newPet">
                                </div>
                                <!--
                                <div class="input">
                                    <label for="species">Enter your pet's species:</label>
                                    <input type="text" ng-model="user-species" id="species" name="species">
                                </div>-->
                                <input id="registerButton" class="btn btn-primary" type="submit" value="Register"/>
                            </form>
                            <br>
                            <a class="btn btn-secondary" href="/">Return to login screen</a>
                            <br><br>
                        </div>
                        <!-- right log div -->
                        <div class="col">
                        </div>
                    </div>


                </div>
                <div class="col"></div>
            </div>
        </div>


</body>

</html>
